body {
	font-family: Ebrima, sans-serif;
	background-color: #f4f4f9;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	transition: transform 0.3s ease;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.title img {
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.title h1 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.title p {
  font-size: 14px;
  font-weight: normal;
  
  margin: 0;
}
		
.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	padding-bottom: 80px;
}

.controls {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 300px;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 60px;
}

.controls .title, .error-message{
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

.controls label {
	display: block;
	margin-bottom: 15px;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

#header, #content, #frontCard, #backCard {
	transition: transform 0.3s ease;
}

.controls label input, select {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ddd;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	font-size: 14px;
	box-sizing: border-box;
}

.controls label select {
	padding: 9px;
}

.controls label input[type="file"] {
	padding: 8px;
}

.controls label input[type="range"] {
	padding: 0px;
	accent-color: #671bf7;
}
		
.error-message {
    color: #fc03a1;
    font-size: 14px;
    margin-bottom: 5px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
	font-weight: normal;
}

.error-message.show {
    opacity: 1;
    transform: translateY(0);
}

.input-error {
	border: 1px solid #fc03a1;
	animation: shake 0.3s;
}

@keyframes shake {
	0% { transform: translateX(0); }
	25% { transform: translateX(-5px); }
	50% { transform: translateX(5px); }
	75% { transform: translateX(-5px); }
	100% { transform: translateX(0); }
}

.scroll-direction {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.scroll-direction i {
	margin-top: 3px;
}

canvas {
	background: #1C2D5A;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 300px;
	box-sizing: border-box;
}

.modal {
	display: none;
	position: fixed;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	max-width: 1000px;
	background-color: #fff;
	box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px 10px 0 0;
	padding: 10px 20px 1px 20px;
	z-index: 1000;
	box-sizing: border-box;
	overflow-y: auto;
	
}

.modal.active {
	display: block;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	z-index: 999;
}

.modal-overlay.active {
	display: block;
}

.modal label {
	display: block;
	margin-bottom: 15px;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.modal input[type="range"] {
	width: 100%;
	margin-top: 5px;
	accent-color: #671bf7;
}

.modal button {
	margin-top: -10px;
	background-color: #671bf7;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.modal button:hover {
	color: #ff0a70;
}

.modal button:active {
	color: #9e0545;
}	

.modal .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	color: #333;
	background: none;
	border: none;
	cursor: pointer;
}

.footer-controls {
	position: fixed;
	overflow-x: auto;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-controls button {
	background: none;
	border: none;
	font-size: 26px;
	cursor: pointer;
}

.brightness-button i{
	background-image: radial-gradient(circle, yellow, red);
	-webkit-background-clip: text;
	color: transparent;
	transition: transform 0.6s ease, color 0.6s ease;
}

.brightness-button:hover i {
	transform: rotate(360deg) scale(1.3);
	background-image: radial-gradient(circle, orange, yellow);
}

.contrast-button i{
	background-image: linear-gradient(to right, white, black);
	-webkit-background-clip: text;
	color: transparent;
	transition: transform 0.6s ease, opacity 0.6s ease;
}

.contrast-button:hover i {
	transform: scale(1.3);
	opacity: 0.8;
}

.saturation-button i{
	background-image: linear-gradient(to right, black, orange, red);
	-webkit-background-clip: text;
	color: transparent;
	transition: transform 0.6s ease, opacity 0.6s ease;
}

.saturation-button:hover i {
	transform: rotateY(360deg) scale(1.3);
	opacity: 0.8;
}

.position-button i{
	background-image: radial-gradient(circle, #e8076c, #6a18ed);
	-webkit-background-clip: text;
	color: transparent;
	transition: transform 0.6s ease, color 0.6s ease;
}

@keyframes position-bounce-scale {
	0% {
		transform: translateY(0) scale(1);
	}
	25% {
		transform: translateX(-10px) scale(1);
	}
	50% {
		transform: translateY(-10px) scale(1);
	}
	75% {
		transform: translateX(10px) scale(1);
	}
	100% {
		transform: translateY(0) scale(1.3);
	}
}

.position-button:hover i {
	animation: position-bounce-scale 0.6s ease-in-out;
	transform: scale(1.3);
}

.size-button i{
	background-image: radial-gradient(circle, #6a18ed, #e8076c);
	-webkit-background-clip: text;
	color: transparent;
	transition: transform 0.6s ease, opacity 0.6s ease;
}

.size-button:hover i {
	transform: scale(1.3);
	opacity: 0.8;
}

.reset-button i{
	background-image: linear-gradient(to right, #18a6ed, #6a18ed);
	-webkit-background-clip: text;
	color: transparent;
	transition: transform 0.6s ease, color 0.6s ease;
}

.reset-button:hover i {
	transform: rotate(720deg) scale(1.3);
	background-image: radial-gradient(circle, #6a18ed, #18a6ed);
}

@keyframes reset-aktif {
	0% {
		transform: scale(1.3);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

.reset-button:active i {
	animation: reset-aktif 0.2s ease-in-out;
	transform: scale(1.3);
}

.download-button i{
	background-image: linear-gradient(to bottom, #18a6ed, #6a18ed);
	-webkit-background-clip: text;
	color: transparent;
	transition: transform 0.6s ease;
}

@keyframes bounce-scale {
	0% {
		transform: translateY(0) scale(1);
	}
	50% {
		transform: translateY(10px) scale(1);
	}
	100% {
		transform: translateY(0) scale(1.2);
	}
}

.download-button:hover i {
	animation: bounce-scale 0.6s ease-in-out;
	transform: scale(1.2);
}

@keyframes download-aktif {
	0% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

.download-button:active i {
	animation: download-aktif 0.2s ease-in-out;
	transform: scale(1.2);
}

.footer-controls button i {
	display: block;
	font-size: 26px;
	margin-bottom: 10px;
}

.footer-controls button span {
	display: block;
	color:#6e05f7;
	font-size:12px;
}

.footer-controls button:focus {
	outline: none;
}
	
@media (max-width: 768px) {
	.container {
		padding-top: 30px;
		padding-bottom: 100px;
	}
	
	.controls {
		max-width: 80%;
	}

	.header {
		width: 100%;
		text-align: center;
		margin-top: 40px;
		margin-bottom: -10px;
	}

	canvas {
		max-width: 80%;
	}
	
	.footer-controls button {
		font-size: 20px;
	}
	
	.footer-controls button span {
		font-size:10px;
	}

	.modal {
		display: none;
		position: fixed;
		bottom: 80px;
		left: 50%;
		transform: translateX(-50%);
		width: 95%;
		max-width: 1000px;
		background-color: #fff;
		box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
		border-radius: 10px 10px 0 0;
		padding: 10px 20px 1px 20px;
		z-index: 1000;
		box-sizing: border-box;
		overflow-y: auto;
	}
}